@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <h1>Welcome to Samantha's Portfolio</h1>
    <p>This is the home page of Samantha's portfolio. Explore the projects and learn more about her work.</p>

    <div class="row">
        <div class="col-md-4">
            <h3>About Me</h3>
            <p>A brief introduction about Samantha and her expertise.</p>
        </div>
        <div class="col-md-4">
            <h3>Projects</h3>
            <p>Highlights of some of Samantha's best projects.</p>
        </div>
        <div class="col-md-4">
            <h3>Contact</h3>
            <p>Get in touch with Samantha for collaborations or inquiries.</p>
        </div>
    </div>
</div>
